.dt-columntools {
    display: flex;
    position: absolute;
    z-index: 10;
    width: 400px;
    flex-direction: column;
    background-color: brown;
    border: 3px solid black;
}

.dt-columntools .dt-ct-sortasc,
.dt-columntools .dt-ct-sortdesc {
    display: block;
    width: 100%;
}

.dt-columntools .dt-ct-filter {
    display: inline;
}